.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menuHeader, ul {
    display: flex;
    gap: 48px;
    font-size: 1.2rem;
}

.menuHeader a {
    text-decoration: none;
    color: var(--color-texto);
}

.menuHeader li {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.4s ease-in-out;
}

.menuHeader li:hover {
    cursor: pointer;
    border-bottom: 1px solid #1EF600;
}

@media screen and (max-width: 768px) {
    .headerMobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .headerMobile button {
        border: none;
    }

    .headerMobile .logoMobile {
        width: 60px;
    }

    .menuHeader ul {
        gap: 24px;
        font-size: 1rem;
    }
}