#hero {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.video-bg {
    position: absolute;
    width: 100%;
    height: 110%;
}

header {
    background-color: transparent;
}

.hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    width: 40%;
    background-color: transparent;
    margin-left: 2rem;

    h1 {
        font-size: 4rem;
        font-weight: bold;
        color: var(--color-texto);
        line-height: 4rem;
        background-color: transparent;
    }

    h2 {
        font-size: 6rem;
        font-weight: bold;
        color: var(--color-verde);
        line-height: 6rem;
        background-color: transparent;
    }
}

.hero-image {
    display: flex;
    align-items: center;
    background-color: transparent;
    z-index: 1;

    img {
        width: 100%;
        background-color: transparent;
    }
}

.hero-actions {
    display: flex;
    gap: 40px;
    margin-top: 58px;
    background-color: transparent;
}

.hero-actions a {
    transition: transform 0.3s ease-in-out;
}

.hero-actions a:hover {
    transform: scale(1.1);
}

#link-contato {
    width: 140px;
    height: 48px;
    padding: 10px 32px;
    border-radius: 24px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    background-color: var(--color-verde);
    color: var(--color-bg);
}

#link-linkedin {
    width: 170px;
    height: 48px;
    padding: 10px 32px;
    border-radius: 24px;
    background-color: var(--color-texto);
    text-align: center;
    
    img {
        width: 90%;
        background-color: transparent;
    }
}

.icon-down {
    z-index: 10;
    position: absolute;
    bottom: 58px;
    left: 51%;
    opacity: 0.55;
}

@media screen and (max-width: 768px) { 
    #hero {
        flex-direction: column;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    
    .hero-image {
        margin-top: -40px;
    }

    .hero-content {
        align-items: center;
        width: 100%;
        margin-left: 0;

        h1 {
            font-size: 2rem;
            line-height: 2rem;
        }

        h2 {
            font-size: 3rem;
            line-height: 3rem;
        }
    }

    .hero-actions {
        margin-top: 0px;
    }

    #link-contato {
        width: 120px;
        height: 40px;
        padding: 8px 20px;
        font-size: 0.9rem;
    }

    #link-linkedin {
        width: 125px;
        height: 40px;
        padding: 9px 20px;
    }
}