.menu-mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.menu-mobile-overlay.open {
    transform: translateY(0);
}

.menu-mobile-overlay .close-button {
    position: absolute;
    top: 100px;
    right: 50px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-mobile-overlay nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-mobile-overlay nav a {
    color: var(--color-texto);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
}
