#sobreMim {
    display: flex;
    height: 100%;
    gap: 30px;
    margin: 100px 0;
}

.about-card {
    width: 436px;
    height: 100%;
    background-color: var(--color-cinza);
    border-radius: 24px;
    padding: 30px;
}

.about-content {
    width: 55%;
    background-color: transparent;

    p {
        background-color: transparent;
    }

    .color-verde {
        color: var(--color-verde);
        background-color: transparent;
    }
}

.about-experience {
    width: 75%;
    text-align: center;
    background-color: transparent;

    h2 {
        padding-top: 30px;
        color: var(--color-verde);
    }
}

.images-experience {
    display: flex;
    background-color: transparent;
    list-style: none;
    gap: 40px;
    justify-content: center;
    margin-top: 30px;
}

.images-experience img {
    transition: transform 0.4s ease-in-out;
}

.images-experience img:hover {
    transform: translateY(-20px);
}